bedroom/assets_raw/
bedroom/assets_usd/
bedroom/bedroom_assets_raw/
bedroom/bedroom_assets_usd_original/
bedroom/bedroom_assets_usd_simplified/
bedroom/layout_usd/
bedroom/objaverse_bedroom/
bedroom/textures/
livingroom/livingroom_assets_raw/
livingroom/livingroom_assets_usd_original/
livingroom/livingroom_assets_usd_simplified/
livingroom/objaverse_livingroom/
livingroom/layout_json/
livingroom/textures/
scene_test.json
README.md
# pixi environments
.pixi/*
!.pixi/config.toml

# Python cache files
__pycache__/
*.pyc