livingroom/
bedroom/assets_raw/
bedroom/assets_usd/
bedroom/bedroom_assets_raw/
bedroom/bedroom_assets_usd_original/
bedroom/bedroom_assets_usd_simplified/
bedroom/layout_usd/
bedroom/objaverse_bedroom/
scene_test.json
README.md
